nav {
  background-color: #00296b;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #ffd500;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-item {
  font-size: 1.75rem;
}
